// SECTION accounts :: START

section#h-accounts.h-accounts
  .c-grid
    .h-accounts__wrapper

      h1.h-accounts__title!= "Our Accounts"

      .h-accounts__row
        .h-accounts__row-left
          div
            p!= "IFX<br>Standard"
            span!= "Tight Spreads.<br>No commission"
          div
            img(src="img/img-accounts-0.png" srcset="img/img-accounts-0@2x.png 2x" alt="" title="")

        .h-accounts__row-right
          div
            img(src="img/img-accounts-1.png" srcset="img/img-accounts-1@2x.png 2x" alt="" title="")
          div
            p!= "IFX<br>RAW"
            span!= "Raw Spreads.<br>Low commission"

// SECTION accounts :: END