// SECTION info :: START

section#h-info.h-info
  .h-info__wrapper
    .h-info__wrapper-left
      .h-info__block.h-info__block-0
        a.h-info__btn.h-info__btn-0(href="#" class="" title="")
          .h-info__btn-circle
            i.icon-font.icon-chevron

          .h-info__btn-row.h-info__btn-row-0
            .h-info__btn-box
              +iconSVG('i-why-0')

          .h-info__btn-row.h-info__btn-row-1
            p.h-info__btn-subtitle!= "The Ultimate IFX Forex Workshop<br>presented by Real Traders"

          .h-info__btn-row.h-info__btn-row-2
            p.h-info__btn-text!= "Start your step-by-step journey<br>to consistent forex profits"

      .h-info__block.h-info__block-1
        a.h-info__btn.h-info__btn-1(href="#" class="" title="")
          .h-info__btn-circle
            i.icon-font.icon-chevron

          .h-info__btn-row.h-info__btn-row-0
            .h-info__btn-box
              +iconSVG('i-why-0')

            p.h-info__btn-subtitle!= "myiFXPartners"

          .h-info__btn-row.h-info__btn-row-1
            p.h-info__btn-text!= "Secure sophisticated Partnership Portal with a very ergonomic and clear user interface, from which Partners can easily expand and manage multiple networks."

      .h-info__block.h-info__block-2
        a.h-info__btn.h-info__btn-2(href="#" class="" title="")
          .h-info__btn-circle
            i.icon-font.icon-chevron

          .h-info__btn-row.h-info__btn-row-0
            p.h-info__btn-title!= "Placing you firmly<br>in the driver’s seat"

          .h-info__btn-row.h-info__btn-row-1
            p.h-info__btn-subtitle!= "myiFXBrokers"
            p.h-info__btn-text!= "Secure Client Portal"

      .h-info__block.h-info__block-3
        a.h-info__btn.h-info__btn-3(href="#" class="" title="")
          .h-info__btn-circle
            i.icon-font.icon-chevron

          .h-info__btn-row.h-info__btn-row-0
            .h-info__btn-box
              +iconSVG('i-why-2')

          .h-info__btn-row.h-info__btn-row-1
            p.h-info__btn-title!= "Hello, Wall Street"

          .h-info__btn-row.h-info__btn-row-2
            p.h-info__btn-subtext!= "Creating a<br>community of<br>profitable traders"
            p.h-info__btn-text!= "Complimentary Professional Forex<br>Trading powered by IFX Academy"

    .h-info__wrapper-right
      .h-info__block.h-info__block-4
        a.h-info__btn.h-info__btn-4(href="#" class="" title="")
          .h-info__btn-row.h-info__btn-row-0
            +logotypeEvolve()

          .h-info__btn-row.h-info__btn-row-1
            .h-info__btn-desc
              p!= "The trader in you<br>loves challenges"

          .h-info__btn-row.h-info__btn-row-2
            p.h-info__btn-title!= "Trade<br>R,1000,000<br>and keep 50% of the profit"

          .h-info__btn-row.h-info__btn-row-3
            .h-info__btn-circle
              i.icon-font.icon-chevron

// SECTION info :: END